<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="server" value="universe.virtualparadise.org" />
    <add key="serverPort" value="57000" />
    <add key="user" value="yourusername"/>
    <add key="password" value="yourpassword"/>
    <add key="botName" value="vpnetcodeplex"/>
    <add key="world" value="VP-Build" />
    <add key="position" value="0.5, 0.5, 0.5"/> <!-- in x,y,z-->
    <add key="rotation" value="0.5, 0.5"/> <!-- in yaw,pitch -->
    <add key="worldReconnect" value="2000" />
    <add key="universeReconnect" value="10000" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GlobalWeatherSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="GlobalWeatherSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.webservicex.net/globalweather.asmx"
        binding="basicHttpBinding" bindingConfiguration="GlobalWeatherSoap"
        contract="GlobalWeatherService.GlobalWeatherSoap" name="GlobalWeatherSoap" />
    </client>
  </system.serviceModel>
</configuration>