<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="server" value="universe.virtualparadise.org" />
    <add key="serverPort" value="57000" />
    <add key="user" value="user name here"/>
    <add key="password" value="password here"/>
    <add key="botName" value="vpnetcodeplex"/>
    <add key="world" value="VP-Build" />
  </appSettings>
</configuration>